.desc {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 8px;
  width: 500px;
  padding: 16px 12px;
}
.title {
  font-size: 18px;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.rating {
  display: flex;
  align-items: center;
  gap: 8px;
}
.votes {
  font-size: 14px;
}
