.movieInfoContainer {
  margin-top: 12px;
  margin-bottom: 40px;
}
.title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
}
.overview {
  margin-bottom: 12px;
}
.genres {
  margin-bottom: 12px;
}
.rating {
  display: flex;
  align-items: center;
  gap: 8px;
}
.bold {
  font-weight: 600;
}
.votes {
  font-size: 14px;
}
.navigation {
  display: flex;
  gap: 16px;
  margin-bottom: 40px;
}
.link {
  font-size: 16px;
  font-weight: 600;
  border: 1px solid var(--white);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  transition: all var(--duration) var(--transition-function);
}
.isActive {
  color: var(--red);
  border-color: var(--red);
}

@media (hover: hover) {
  .link:hover {
    border-color: var(--red);
  }
}

@media (max-width: 1439px) {
  .poster {
    margin-bottom: 18px;
  }
  .date {
    margin-bottom: 12px;
  }
}

@media (min-width: 1440px) {
  .movieInfoContainer {
    display: flex;
    gap: 24px;
  }
  .poster {
    flex-shrink: 0;
  }
  .movieDesc {
    padding: 12px;
  }
  .extraInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
