.listItem:not(:last-child) {
  margin-bottom: 40px;
}

.userInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
.user {
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 8px;
}
.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  flex-shrink: 0;
}
.username {
  font-weight: 600;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.commentContainer {
  padding-left: 12px;
}

.date {
  font-size: 14px;
  color: var(--smoke);
  flex-shrink: 0;
}

.rating {
  margin-bottom: 12px;
}
