.listItem:not(:last-child) {
  margin-bottom: 40px;
}
.userInfo {
  margin-bottom: 16px;
}
.user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  flex-shrink: 0;
}
.username {
  font-weight: 600;
  font-size: 16px;
}
.commentContainer {
  padding-left: 12px;
}
.comment {
  margin-bottom: 8px;
}
.date {
  font-size: 14px;
  color: var(--smoke);
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 767px) {
  .user {
    margin-bottom: 8px;
  }
}

@media (min-width: 768px) {
  .userInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
