.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
}
.logo {
  color: var(--red);
}
.navigation {
  display: flex;
  gap: 16px;
}
.link {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 18px;
  font-weight: 600;
  transition: all var(--duration) var(--transition-function);
}

.isActive {
  position: relative;
  color: var(--red);
}
.isActive::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background-color: var(--red);
}

@media (hover: hover) {
  .link:hover {
    color: var(--red);
  }
}

@media (min-width: 1440px) {
  .navWrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
  .link {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
