.notFound {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 48px;
  font-size: 20px;
}

@media (min-width: 768px) {
  .notFound {
    font-size: 28px;
  }
}
